{% extends "base.jinja2" %}

{% block body %}

    <style type="text/css">
        html, body, .row {
            height: 100%;
            width: 100%;
            margin: 0;
        }

        .container {
            height: 100%;
            width: 100%;
            margin: 0
        }

        .body {
            padding-top: 45px;
        }

        .google-wrapper {
            position: relative;
            height: 100%;
        }

        #google-map {
            height: 100%;
        {#        position:absolute;#}
        }

        #google-map-overlay:hover {
            opacity: 1;
        }

        #google-map-overlay {
            pointer-events: none;
            height: 100%;
            width: 100%;
            padding-top: 60px;
            position: absolute;

            opacity: 0.5;
            top: 0px;
            left: 0px;
            z-index: 2;
        }

        .nav {
            height: 45px;
            width: 100%;
            border-radius: 0px;
            border: 0px;
            margin-bottom: 0px;
            position: absolute;
            z-index: 3;
            background: #009db2; /* Old browsers */
        {#            background: -moz-linear-gradient(left, #ffffff 11%, #ffffff 11%, #009db2 11%); /* FF3.6-15 */#}{#            background: -webkit-linear-gradient(left, #ffffff 11%, #ffffff 11%, #009db2 11%); /* Chrome10-25,Safari5.1-6 */#}{#            background: linear-gradient(to right, #ffffff 11%, #ffffff 11%, #009db2 11%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */#}{#            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#009db2', GradientType=1); /* IE6-9 */#}

        }

        .labels {
            color: white;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-weight: bold;
            font-size: 10px;
            text-align: center;
            width: 30px;
            white-space: nowrap;

        }

        .trackedRunner {
            color: white;
            max-width: 10px;

        }

        .info-tooltip + .tooltip > .tooltip-inner {background-color: #4A4A4A; width:300px;}
        .info-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#4A4A4A; }

    </style>

    <body>
    <nav class=" navbar navbar-default nav">
        <div class="container-fluid" style="padding-top:7px">
            <div class="row">
                <div class="col-md-1 col-xs-2 col-sm-3 ">
                    <img class="info-tooltip"
                        style="padding-left: 5px; padding-top:-2px;height:35px"
                        src="static/img/Runr_logo.png"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="DSE Runr is a sample cloud application built for tracking runners in a marathon. Different parts of this app will show how a cloud application can leverage DataStax Enterprise as the data management layer of choice."/>
                </div>
                <div class="col-md-2 col-xs-2 col-xs-offset-3 col-md-offset-4 " style="padding:3px"/>
                    <div>
                       <b style="color:white; font-size:1.5em" id="timerText" class="info-tooltip"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="The clock represents the race time from when the simulation began. On the backend of the cloud app, there is a recurring DSE Analytics job occuring that simulates just over 10,000 runners moving along the race course. Every second the runners location is updated based on an algorithm that determines their pace."></b>
                    </div>
                </div>
                <div class=" col-md-2">
                    <b style="color:white">Tooltips:</b>
                    <input id="toolTipToggle" type="checkbox" checked data-toggle="toggle">
                </div>
                <div class="col-md-2 col-xs-4 col-xs-offset-1 info-tooltip" style="padding:1px"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Being able to search data is a key component of a cloud application. DSE Search enables users to search for runners using type ahead functionality.">
                    <select id="runnerSearch" style="width:100%; ">

                    </select>
                </div>
            </div>
        </div>
    </nav>
    <hidden id="clusterLocation"></hidden>
    <div class="google-wrapper body">
        <div id="google-map"></div>
        <div id="google-map-overlay">
            <div class="container">
                <div class="row">

                    <div style="background-color:#4A4A4A; border-radius:4px; pointer-events: all" class="col-md-2 info-tooltip"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="Here the user can see basic information about the runner they have selected, being powered by standard transactional queries of DSE Core (Cassandra). An example is: SELECT cluster,weight, height, birth_year, birth_month, birth_day FROM runr.runners">
                        <img style="width:50px; height:50px;margin:10px; float:left" src="static/img/owl.png"/>
                        <div style="float:left; padding:10px; padding-bottom:0px">
                            <div id="runner_id"></div>
                            <b id="runner_name" style="color:white"></b>
                            </br>
                            <div id="runner_age" style="color:white">Age:</div>
                            <div id="runner_weight" style="color:white">Weight:</div>

                        </div>
                        <div style="float:left; padding:10px; color:white">
                            <div id="runner_average_speed" style="color:white">Average Speed:</div>
                            <div id="runner_projected_finish" style="color:white">Projected Finish:</div>
                            <div style="color:white">Projected Time to Finish:</div>

                        </div>
                    </div>
                    <div style="">
                        <div id="runner_table_overlay" hidden="hidden" style="background-color:#4A4A4A; border-radius:4px; pointer-events: all;      position:absolute;  "
                             class=" col-md-offset-10 ">
                            <div style="  padding:5px; width:100%">
                                <table id="runner_cluster_table" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="color:white">Name</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="expandedChartView"
                         style="background-color:#4A4A4A; display:none; border-radius:4px; margin-top: 15px; margin-bottom:15px; pointer-events: all;  height:60%; position:absolute; top:10%"
                         class="col-md-8 col-md-offset-3">
                        <div style="padding: 10px; height: 100%">
                            <div id="expandedCarousel" style="height: 100%" class="carousel slide" data-ride="carousel">


                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" style="height: 100%" role="listbox">
                                    <div class="item active" style="height: 100%">
                                        <div id="expandedScatterPlot" style="height: 100%"></div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:#4A4A4A; border-radius:4px; pointer-events: all; position: fixed;bottom: 10px;left:15px"
                         class="col-md-2 ">
                        <div style="color:white;padding: 5px; height:175px">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        {#                                  <div class="carousel-caption">#}
                                        <div id="scatterChart" style="height: 175px;"></div>
                                        {#                                  </div>#}
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div style="float: none; ">
                                <button id="expandChart" style="margin:5px" class="btn btn-default btn-xs pull-right">
                                    <small><span class="glyphicon glyphicon-new-window"></span></small>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="static/js/index/index.js"></script>
    {#    <script type="text/javascript" src="static/js/index/map.js"></script>#}
    {#    <script type="text/javascript" src="static/js/index/timer.js"></script>#}
    {#    <script type="text/javascript" src="static/js/index/charts.js"></script>#}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuNqpFE8a9dKuIINC91jdzd0IWJ1js-bw&callback=initMap&libraries=geometry"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>

    <script>

        setInterval(updateTimer, 1000)
        setInterval(updateClusterMarkers, 1500)
        var runners_table;
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip('enable');
            $('#toolTipToggle').change(function() {
                if ($(this).prop('checked') == true)
                    $('[data-toggle="tooltip"]').tooltip('enable');
                else
                    $('[data-toggle="tooltip"]').tooltip('disable');

            })
        });
    </script>

    </body>
{% endblock %}
