{% extends "base.jinja2" %}

{% block body %}
API_Key = AIzaSyDuNqpFE8a9dKuIINC91jdzd0IWJ1js-bw
<!DOCTYPE html>

    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">

var map;
{#function initMap() {#}
{#    bounds = new google.maps.LatLngBounds({lat: 32.613719, lng: -97.141333}, {lat: 32.588845, lng:-97.077990})#}
{#  map = new google.maps.Map(document.getElementById('map'), {#}
{#    center: {lat: 32.5969805, lng:-97.0842559},#}
{#    zoom: 8#}
{#  });#}
{#    map.fitBounds(bounds);#}
{#}#}
function initMap() {

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: {lat: 32.5969805, lng:-97.0842559},
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var rectangle = new google.maps.Rectangle();

  map.addListener('zoom_changed', function() {

    // Get the current bounds, which reflect the bounds before the zoom.
      console.log(map.getBounds())
    rectangle.setOptions({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      bounds: map.getBounds()
    });
  });
}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuNqpFE8a9dKuIINC91jdzd0IWJ1js-bw&callback=initMap">
    </script>

{% endblock %}
